main {
    margin: 30px 8px;
    padding: 15px;
    background: #eee6d5;
}

.text-black {
    color: black;
}

.text-center {
    text-align: center;
}

#image {
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 15px;
    background: rgba(189, 169, 136, 0.321);
}


@media (max-width: 400px) {
    #img-caption {
      font-size: 1.4rem;
      margin: 15px 0 5px 0;
    }
  }